.ether-0 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: black"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-1 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: tomato"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-2 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: orange"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-3 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: khaki"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-4 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: green"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-5 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: slateblue"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-6 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: violet"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-7 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: gold"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-8 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: gray"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}

.ether-9 {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 351.9 572" width="300" style="fill: white"><path d="M175.9 0l-3.8 13v378.3l3.8 3.8 175.9-103.8z"/><path d="M175.9 0L0 291.3l175.9 103.8V211.5z"/><path d="M175.9 428.3l-2.2 2.7v134.7l2.2 6.3 176-247.4z"/><path d="M175.9 572V428.3L0 324.6z"/><path class="st2" d="M175.9 395.1l175.9-103.8-175.9-79.8z"/><path d="M0 291.3l175.9 103.8V211.5z"/></svg>');
}