.slots {
  text-align: center;
  margin-bottom: 30px;
}

/* 16:9 ASPECT RATIO */

/* 16:9 = 16/9 = width / height = (9 * 200 / 16) = 112.5 */

.slots .slot {
  background-color: #383949;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: inline-block;
  overflow: hidden;
  height: 112.5px;
  position: relative;
  width: 200px;
}

.slots .ether {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 90px;
}

.slot svg {
  width: 200px;
  height: 112.5px;
}

.slots .slot:nth-of-type(2) {
  margin: 0 10px;
}

.spin-wrapper {
  text-align: center;
}

.spin-wrapper button {
  background-color: gold;
  border: none;
  border-radius: 10px;
  color: #333;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: bold;
  padding: 4px 50px;
  letter-spacing: 1px;
}

.spin-wrapper .cost {
  color: #ccc;
  font-size: 13px;
  font-weight: 100;
  padding-top: 10px;
}

.spin-wrapper button>div {
  color: #ccc;
  font-size: 15px;
  font-weight: 100;
}

/* .slots .slot:nth-of-type(1) .graphic {
  animation-name: slot1;
  animation-duration: 10s;
  animation-timing-function: linear;
}

@keyframes slot1 {
  0% {
    top: 0;
  }
  100% {
    top: -1012px;
  }
} */