body {
  background-color: #111;
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
}

table thead {
  color: #fff;
  font-weight: 100;
}

table thead td {
  padding: 10px;
}

table tbody {
  color: #fff;
  font-size: 13px;
  font-weight: 100;
}

table tbody td {
  padding: 5px 10px;
}

table tbody span {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.header {
  background-color: #1a1c24;
  height: 60px;
  margin-bottom: 20px;
}

.container {
  background-color: #383949;
  border: solid 1px #4e4f62;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 800px;
}

.box {
  background-color: #242736;
  border-radius: 15px;
  padding: 30px;
}

.section {
  background-color: #3f3f3f;
  position: relative;
}