body {
  background-color: #111;
  font-family: 'Roboto Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  color: #fff;
  font-weight: 100;
}

table, th, td {
  border: 1px solid #ccc;
}

table td {
  padding: 10px;
}

.header {
  background-color: #1a1c24;
  height: 60px;
  margin-bottom: 20px;
}

.container {
  background-color: #383949;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 800px;
}

.section {
  background-color: #3f3f3f;
  position: relative;
}

.outer-wrapper {
  text-align: center;
}

.splash .inner-wrapper {
  display: inline-block;
}

.splash h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  padding-left: 10px;
}

.splash h2 {
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 100px;
  font-size: 24px;
  letter-spacing: 1px;
  color: #3f3f3f;
}

.splash h3 {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.splash h3 span {
  color: #fff;
  font-weight: 200;
  padding-left: 10px;
}

.splash img {
  display: none;
  width: 200px;
}

.splash button {
  display: inline;
  background: none;
  border-radius: 8px;
  color: #333;
  border-color: #333;
  padding: 6px 20px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  margin-right: 30px;
}

.splash input {
  background: none;
  color: #333;
  border-color: #333;
  font-size: 16px;
  font-weight: 200;
  border-width: 1px;
  padding: 4px;
}

.splash .field {
  margin-top: 10px;
}

.spacer_50 {
  height: 50px;
}